doctype html
html(lang="en").no-js 
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title="AG Design"
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    // Place favicon.ico in the root directory
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css")

  body
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    // Fixed navbar
    .row
      .col-xs-12
        .navbar(role="navigation")
          .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .small-logo-container
              img.small-logo(src="images/ag_design.png")
          .navbar-collapse
            ul.nav-links
              li.active
                a(href="#services") Services
              li 
                a.linky(href="#") Portfolio
              li 
                a(href="#") About
              li 
                a(href="#") Contact
    #cover
      #particles
      a.big-logo
        img(src="images/ag_design.png")
        p.
          Aaron Greene <br>
          Web design and Development, Logo Design and Branding, Domain Hosting and Management
        p.
          Making design easy & enjoyable so you can focus on building your business.
        button.btn-alpha Get Started
      svg(class="overlay" height="100%" width="40%" viewBox="0 0 100 100" preserveAspectRatio="none")
        polygon(class="overlay-polygon" points="0,0 100,0 30,100 0,100")
      .hero
        .wrapper
          img(src="images/agdesign-hero.svg")
          svg(xmlns='http://www.w3.org/2000/svg', width='5097.791', height='3412.393', viewbox='0 0 4779.1791 3199.1186').lines
            defs
              marker#f(orient='auto', overflow='visible')
                path(d='M2.308 0l-3.46 2v-4l3.46 2z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
              marker#d(orient='auto', overflow='visible')
                path(d='M1.96 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 1.96 0z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
              marker#e(orient='auto', overflow='visible')
                path(d='M1.96 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 1.96 0z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
              marker#c(orient='auto', overflow='visible')
                path(d='M1.96 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 1.96 0z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
              marker#a(orient='auto', overflow='visible')
                path(d='M1.96 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 1.96 0z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
              marker#b(orient='auto', overflow='visible')
                path(d='M1.96 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 1.96 0z', fill='#f2f2f2', fill-rule='evenodd', stroke='#f2f2f2', stroke-width='.4pt')
            g(fill='none', stroke='#fff', stroke-width='15', stroke-linejoin='round')
              path.line-one(d='M9425.988 10433.799v196h1140v-520.167', marker-start='url(#a)', marker-end='url(#b)', transform='translate(-8593.436 -8503.499)')
              path(d='M10630.898 9421.222v-307.46h1140v419.44', marker-start='url(#c)', marker-end='url(#d)', transform='translate(-8593.436 -8503.499)')
              path(d='M12096.331 9769.282h663.842v1140h-311.961', marker-start='url(#e)', marker-end='url(#f)', transform='translate(-8593.436 -8503.499)')

    #services.section
      h1 Services
      .wrapper
        .one-service
          .service-circle
            i.fa.fa-desktop.fa-2x.fa-inverse(aria-hidden='true')
          h4 Cross-platform
          p Sectional works across operating systems. You can use it on OS X, Windows, or Linux.
        .one-service
          .service-circle
            i.fa.fa-search.fa-2x.fa-inverse(aria-hidden='true')
          h4 Searchable
          p Search for the section you're looking for. Sectional filters as you type
        .one-service
          .service-circle
            i.fa.fa-sort-amount-asc.fa-2x.fa-inverse(aria-hidden='true')
          h4 Sortable
          p Sort sections by weight, depth, width, or any other section property.
      .wrapper
        .one-service
          .service-circle
            i.fa.fa-share.fa-2x.fa-inverse(aria-hidden='true')
          h4 Export
          p Export your desired section properties for printing or importing into STAAD.pro 
        .one-service
          .service-circle
            i.fa.fa-wrench.fa-2x.fa-inverse(aria-hidden='true')
          h4 Custom Sections
          p Design your own custom section. Sectional will calculate the properties for you.
        .one-service
          .service-circle
            i.fa.fa-tags.fa-2x.fa-inverse(aria-hidden='true')
          h4 Tags
          p Tag sections based on the project or structure you're working on.

    #about.row.center-xs.section
      .col-xs-6
        h1 About AG Design
        p Aaron Greene is a web designer located in St. John’s, NL. I develop custom, intelligent web design solutions that are tailored to your business’s needs. I help business owners grow their user base and ultimately, increase revenue.
        p I make sure your websites and their editing tools are kept up to date, running smooth and secure. I’m passionate about helping my clients grow, and ready to support your online efforts as you do.
    
    #contact.row.center-xs.section
      .col-xs-6
        h1 Ready to get started?
        p Let’s talk about your project. Contact us today and we’ll get the ball rolling!
        btn Get in Touch

    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")          
    script(src="js/app.js")
    script(src='https://use.fontawesome.com/ef4ebaee1a.js')