doctype html
html(lang="en").no-js 
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title="AG Design"
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    // Place favicon.ico in the root directory
    link(rel="stylesheet" href="css/main.css")

  body
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    // Fixed navbar
    .navbar(role="navigation")
      .container
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .small-logo-container
            a.small-logo(href="#") Small Logo
        .navbar-collapse
          ul.nav-links
            li.active
              a(href="#") Active
            li 
              a.linky(href="#") Link
            li 
              a(href="#") Link
            li 
              a(href="#") Link

    #cover
      #particles
      a.big-logo
        img(src="images/ag_design.png")
        p.
          Aaron Greene <br>
          Web design and Development, Logo Design and Branding, Domain Hosting and Management
        p.
          Making design easy & enjoyable so you can focus on building your business.
        button.btn-alpha Get Started
      svg(class="overlay" height="100%" width="40%" viewBox="0 0 100 100" preserveAspectRatio="none")
        polygon(class="overlay-polygon" points="0,0 100,0 50,100 0,100")
    .services
      h3 Full-featured, right out of the box
      .wrapper
        .one-service
          .service-circle
            i.fa.fa-desktop.fa-2x.fa-inverse(aria-hidden='true')
          h4 Cross-platform
          p Sectional works across operating systems. You can use it on OS X, Windows, or Linux.
        .one-service
          .service-circle
            i.fa.fa-search.fa-2x.fa-inverse(aria-hidden='true')
          h4 Searchable
          p Search for the section you're looking for. Sectional filters as you type
        .one-service
          .service-circle
            i.fa.fa-sort-amount-asc.fa-2x.fa-inverse(aria-hidden='true')
          h4 Sortable
          p Sort sections by weight, depth, width, or any other section property.
      .wrapper
        .one-service
          .service-circle
            i.fa.fa-share.fa-2x.fa-inverse(aria-hidden='true')
          h4 Export
          p Export your desired section properties for printing or importing into STAAD.pro 
        .one-service
          .service-circle
            i.fa.fa-wrench.fa-2x.fa-inverse(aria-hidden='true')
          h4 Custom Sections
          p Design your own custom section. Sectional will calculate the properties for you.
        .one-service
          .service-circle
            i.fa.fa-tags.fa-2x.fa-inverse(aria-hidden='true')
          h4 Tags
          p Tag sections based on the project or structure you're working on.

    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")          
    script(src="js/app.js")
    script(src='https://use.fontawesome.com/ef4ebaee1a.js')