@import 'mixins';
@import 'font-awesome';

$jade: #3DE0BF;
$ruby: #E03D4D;
$silver: #f6fdff;
$smoke: #585858;
$moonlight: #2b373e;
$azure: #1E7DAD;

body, html {
  height: 100%;
  margin: 0;
  font: normal 100%/1.5 Walsheim,Futura,Trebuchet MS,sans-serif;
}

#cover { 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#particles { 
  height: 100%; 
  width: 100%;
  z-index: 901;
  position: absolute;
  background-color: $moonlight;
}

.overlay {
  z-index: 902;
  position: absolute;
}

.overlay-polygon {
  fill: $silver;
}

.big-logo {  
  /*background-image: url("../images/ag_design.png");*/
  position: absolute;
  z-index: 903;
  width:30%;
  padding-top:60px;
  padding-left: 30px;
  
  img {
    width:250px;
    display: block;
    margin: 8px 0;
  }

  p {
    width: 90%;
    margin: 1em 0;
    font-size: 20px;
  }
}

.btn-alpha {
  cursor: pointer;
  background-color: $ruby;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 20px;
  margin: 15px 0;
  width: 60%;
}

.hero {
  z-index: 904;
  position: absolute;
  right: 0px;
  height: 80%;
  margin-top: 8%;
  
  .wrapper {
    position: relative;
    height:100%
  }

  img {
    height: 100%;
  }

  .lines {
    position: absolute;
    right:0;
    height: 100%;
    width: 100%;
  }
}

.line-one {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: dash 15s 3s linear forwards;
  @keyframes dash {
    0% {stroke-dashoffset: 2100;}
    6.67% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    /*83.33% {stroke-dashoffset: 0;} for infinite loop
    83.34% {stroke-dashoffset: 2100;}
    100% {stroke-dashoffset: 2100;}*/
  }
}

.line-two {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: dash2 15s 7s linear forwards;
  @keyframes dash2 {
    0% {stroke-dashoffset: 2100;}
    6.67% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    /*55.56% {stroke-dashoffset: 0;}
    55.57% {stroke-dashoffset: 2100;}
    100% {stroke-dashoffset: 2100;}*/
  }
}

.line-three {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: dash3 15s 11s linear forwards;
  @keyframes dash3 {
    0% {stroke-dashoffset: 2100;}
    6.67% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    /*27.79% {stroke-dashoffset: 0;}
    27.80% {stroke-dashoffset: 2100;}
    100% {stroke-dashoffset: 2100;}*/
  }
}

.redline-cog {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash4 15s 8s linear forwards, spin 9s 10s linear infinite;
  transform-origin: 50% 50%;
  @keyframes dash4 {
    0% {stroke-dashoffset: 2000; }
    20% {stroke-dashoffset: 0; }
    100% {stroke-dashoffset: 0; }
    /*44.46% {stroke-dashoffset: 0; }
    44.47% {stroke-dashoffset: 2100;}
    100% {stroke-dashoffset: 2100;}*/
  }
  @keyframes spin {
    0% {transform:rotate(0deg) }
    100% {transform:rotate(360deg) }
  }
}

.redline-cog-rev {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash4 15s 8s linear forwards, spin-rev 9s 10s linear infinite;
  transform-origin: 50% 50%;
  @keyframes spin-rev {
    0% {transform:rotate(360deg) }
    100% {transform:rotate(0deg) }
  }
}

.redline-mug {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash5 15s linear forwards, pulse2 1.5s 3s linear infinite;
  transform-origin: 20% 100%;
  @keyframes dash5 {
    0% {stroke-dashoffset: 2000;}
    20% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
  }

  @keyframes pulse2 {
    0% { transform: translateX(0) }
    50% { transform: translateX(-20px) }
    100% { transform: translateX(0) }
  }
}

.redline-bulb {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash6 15s 4s linear forwards;
  @keyframes dash6 {
    0% {stroke-dashoffset: 2500;}
    20% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    /*72.23% {stroke-dashoffset: 0;}
    72.24% {stroke-dashoffset: 2500;}
    100% {stroke-dashoffset: 2500;}*/
  }
}

.redline-cpu {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash7 15s 12s linear forwards;
  @keyframes dash7 {
    0% {stroke-dashoffset: 2500;}
    20% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: 0;}
    /*16.68% {stroke-dashoffset: 2500;}
    100% {stroke-dashoffset: 2500;}*/
  }
}

.marker-one {
  opacity: 0;
  animation: appear 0.1s 3s linear forwards;
}

.marker-two {
  opacity: 0;
  animation: appear 0.1s 4s linear forwards;
}

.marker-three {
  opacity: 0;
  animation: appear 0.1s 7s linear forwards;
}

.marker-four {
  opacity: 0;
  animation: appear 0.1s 8s linear forwards;
}

.marker-five {
  opacity: 0;
  animation: appear 0.1s 11s linear forwards;
}

.marker-six {
  opacity: 0;
  animation: appear 0.1s 12s linear forwards;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes float {
  0% { transform: translateY(0) }
  50% { transform: translateY(-6px) }
  100% { transform: translateY(0) }
}

.pulse {
  animation: pulse 4s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse {
  0% { transform: scale(1.01) }
  25% { transform: scale(0.99) }
  50% { transform: scale(1.01) }
  100% { transform: scale(1.01) }
}

#services {
  .wrapper {
    padding-top: 40px;
    width: 90%;
    margin: 0 auto;
  }

}

.one-service {
  width: 100%;
  text-align: center;
  display: inline-block;
  line-height: 1.5;
  @include not-phone {
    width: 33%;
  }
}

.service-circle {
  border-radius: 999px;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  background-color: $ruby;

  i {
    padding-top: 24px;
  }
}

.section {
  padding: 60px 0;
  background-color: $silver;
  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
}

#about {
  padding: 120px 0;
  background-color: $moonlight;
  color: #fff;
}

#contact {
  padding: 120px 0;
  background-color: $silver;
}

/* *********************************
           Nav Bar
  ********************************** */
/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice

.navbar {
  min-height: 50px;
  background: rgba(62,195,246,0);
  border-bottom: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow:hidden;
}

.navbar-collapse {
  height: auto;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:right;
  margin-right: 100px;
  padding-top: 10px;
  li {
    display: inline-block;
    height: 33px;
    vertical-align: top;
    position: relative;
  }
  a {
    text-decoration: none;
    padding: 10px 30px;
    color: $ruby;
    font-size: 24px;
    font-weight: bold;
  }
}
.navbar-toggle {
  @include not-phone {
    display:none;
  }
}


/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: $navbar-height;
  height: $navbar-height;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  height:($navbar-height - 10px);
  margin: 5px 0;
}